body {
    background-color: pink;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #afcaf0;
    margin: 16px;
    padding: 16px;

}
 container{
    width: 100%;
 }
h1{
    text-align: center;
}

footer {
    color: #4A10D1;
    padding: 24px;
    text-align: center;
}